
header { 
    text-align: center;
    /* border: white;
    border-style: solid;
    padding-bottom: 20px;
    color: whitesmoke; */
    background: none;
    border: 2px solid #3498db;
    font-family: 'Goldman', cursive; 
    
}

h1 { 
    text-align: center;
    color: white;

}

.box input [type = "text"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    outline: none;
    /* color: white; */
    border: 2px solid #3498db;
    border-radius: 24px;
    transition: 0.25s;
     
}
.box input[type = "submit"] { 
    border: 0; 
    background: none; 
    display: block;
    margin: 20px auto;
    text-align: center;
    outline: none; 
    border: 2px solid #2ecc72;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
body { 
    background: rgd (2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 62%, rgb(26,31,50,1) 92%, rgba(0,131,255,1) 100%);
}

main { 
    color: white;
    border: steelblue;
    border-style: solid;
    text-align: center; 
    font-family: 'Goldman', cursive;
}

img { 
    padding-top: 10px;
    padding-left: 10px;
    width: 35%;
    height: auto;
    position: right;
}


p { 
    /* text-decoration: underline; */
    font-size: 25px;
}

@media screen and (min-width: 500px){
    body { 
        width: 420px;
    }
}
@media screen and (min-width: 1080px) { 
    body { 
        width: 1080px;
    }
}